
<div class="ui-g" >
    <div class="ui-g-1">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <div class="ui-g-4">
        <span *ngIf="signinService.isAuthenticated()" class="avatar-text">
            <img src="{{ _profileImageUrl }}" alt="{{ _profileName }}" class="avatar" />&nbsp;{{ _profileName }}&nbsp;&nbsp;
            <a href="https://www.google.com/gmail/" target="_blank">{{ _profileEmail }}</a>
        </span>
    </div>
    <div class="ui-g-6"></div>
    <div class="ui-g-1"><span *ngIf="signinService.isAuthenticated()"><button pButton type="button" (click)="signOut();" label="Sign Out"></button></span></div>
</div>

<h1 class="main-title-text">{{ title }}</h1>
<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
<router-outlet></router-outlet>
