<p-growl [(value)]="msgs" [sticky]="false" [life]="10000"></p-growl>
<div class="ui-g">
	<div class="ui-g-12"><h2 class="panel-title-text">Account Balances</h2></div>
	<div class="ui-g-8">
		<p-panel [showHeader]="false">
			<div class="ui-g">

				<div class="ui-g-2"><label for="acctid">Account ID:</label></div>
				<div class="ui-g-1"><input id="acctid" type="text" size="80" pInputText [(ngModel)]="inpAccountId"/></div>
				<div class="ui-g-9"></div>

				<div class="ui-g-2"></div>
				<div class="ui-g-2"><button pButton type="button" (click)="getBalances();" label="Get Balances"></button></div>
				<div class="ui-g-8"></div>
			</div>
		</p-panel>
	</div>
	<div class="ui-g-4"></div>
</div>

<div class="ui-g" *ngIf="showSpinner">
	<div class="ui-g-5"></div>
	<div class="ui-g-2">
		<p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
	</div>
	<div class="ui-g-5"></div>
</div>

<div class="ui-g" *ngIf="showPanel">
	<div class="ui-g-8">
		<p-panel [showHeader]="false">
			<div class="ui-g">
          <div class="ui-g-12"><h3>Account Balances</h3></div>
          <div class="ui-g-2"></div>  
          <div>
            <p-table [value]="assetBalances">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Asset Type</th>
                      <th>Asset Code</th>
                      <th>Amount</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-assetBalance>
                  <tr>
                      <td>{{assetBalance.assetType}}</td>
                      <td>{{assetBalance.assetCode}}</td>
                      <td>{{assetBalance.amount}}</td>
                  </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="ui-g-2"></div>
  				
			</div>
		</p-panel>
	</div>
	<div class="ui-g-4"></div>
</div>